/** 把元素的 margin 、 padding 、 和 border 都设置为0 */
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video,
input,
button,
dialog {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

a {
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input, textarea, select, button {
  font-size: inherit;
  outline: 0;
}

input {
  flex-grow: 1;

  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: #999;
  }
}

button {
  background-color: transparent;
}
